 /* variables globales */
 :root{
    --bg-Deep-Koamaru:#313A5C;
    --bg-Metallic-Blue:#365F73;
    --bg-Weldon-Blue:#8399A6;
    --bg-Bright-Gray:#EBEBEB;
    --bg-Pastel-Gray:#C8D9C1;
    --bg-Opal:#A1C7BD;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* cards */
 main{
    background-color: var(--bg-Pastel-Gray);
    box-sizing: border-box;
    padding: 20px;
 }
 
.card{
    width: 20rem;
    font-family: var(--bs-font-sans-serif);
}

.card-body{
    background-color: var(--bg-Metallic-Blue);
}
.card-body .btn-primary{
    background-color: var(--bg-Deep-Koamaru); /* Green */
}

.card-body .btn-primary:hover{
    background-color: var(--bg-Weldon-Blue);
    color:#000;
    transition: background-color 1s ease-out;
    transition: color 1s ease-out;

}

.card-text, .card-title{
    color: var(--bg-Bright-Gray);
}
