/* variables globales */
:root{
    --bg-Deep-Koamaru:#313A5C;
    --bg-Metallic-Blue:#365F73;
    --bg-Weldon-Blue:#8399A6;
    --bg-Bright-Gray:#EBEBEB;
    --bg-Pastel-Gray:#C8D9C1;
    --bg-Opal:#A1C7BD;
    --bg-Spring-Branch: #A88A38;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* Fuente y reset del body */
body{
    margin: 0 auto;
    padding: 0;
    font-family: var(--bs-font-sans-serif);
    box-sizing: border-box;
}

/* Estilos Navbar */
.navbar{
    background-color: var(--bg-Deep-Koamaru);
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: var(--bg-Bright-Gray);
}   

.navbar-light .navbar-nav .nav-link.active{
    color: var(--bg-Opal)!important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: var(--bg-Opal)!important;
}
.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: var(--bg-Spring-Branch);
    transition: text-decoration 1s .5s;
}
/* Fin estilos Navbar */
/* Estilos Header + imagen*/
header{
    background-color:#000;
    padding: 20px;
    text-align: center;
}

header img{
    border-radius: 50%;
}

header h1{
    color: var(--bg-Bright-Gray);
}
/* Fin header */
/* Footer */
footer{
    background-color:var(--bg-Deep-Koamaru);
}

.container-footer{
    width: 100%;
    padding: 70px 30px 20px;
}
/* Iconos de redes */
.redes{
    display: flex;
    justify-content: center;
}

.redes a{
    height: 7vh;
    text-decoration: none;
    padding: 10px;
    background:var(--bg-Bright-Gray);/**/
    margin: 10px;
    border-radius: 50%;
}

.redes a i{
    font-size: 2rem;
    color: var(--bg-Deep-Koamaru);
    opacity: 0.9;
}
/* Efecto en iconos de redes */
.redes a:hover{
    background-color: var(--bg-Deep-Koamaru);
    transition: 0.5s;
}
.redes a:hover i{
    color:var(--bg-Bright-Gray);
    transition: 0.5s;
}

/* Navbar Footer */
.footer-nav{
    margin: 30px 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color: var(--bg-Bright-Gray);
    margin:20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover{
    opacity: 1;
}

.copy{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.copy p{
    color: var(--bg-Bright-Gray);
}
/* responsive footer*/

@media (max-width: 720px) {
    .footer-nav ul{
        flex-direction:column;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}